@{
    ViewData["Title"] = "Om oss";
}

@{
    Layout = "~/Views/Shared/_layout_start.cshtml";
}

<div class="smallercontent">
    <h1>@ViewData["Title"]</h1>
    <p>Den här sidan är byggd av Högskolan Västs allra vassaste elever. Du kan köpa den om du vill. Men det kommer att kosta!</p>
</div>
