@{
    ViewData["Title"] = "Contact Us";
}

@{
    Layout = "~/Views/Shared/_layout_start.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your organization's contact information</p>
