@{
    ViewData["Title"] = "Kontakta oss";
}

@{
    Layout = "~/Views/Shared/_layout_start.cshtml";
}


<div class="smallercontent">
    <h1>Kontakt</h1>
    <p>Kontakta oss genom Högskolan Väst</p>
</div>
