@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "~/Views/Shared/_layout_start.cshtml";
}

<div class="start-container">
    <h1 class="startpage-text no-pointer-events">VÄLJ STAD</h1>

    <div class="startpage-image" id="startpage-image-vvik">
        <a asp-action="Home" asp-controller="Vastervik">
            <img class="resolution-scale-image-startpage" src="~/images/startpage-image-vvik.jpg" style="width:100%" />
            <h2 class="startpage-vvik-name no-pointer-events">Västervik</h2>
        </a>
    </div>

    <div class="startpage-seperation-block"></div>

    <div class="startpage-image" id="startpage-image-thn">
        <a asp-action="Home" asp-controller="Trollhattan">
            <img class="resolution-scale-image-startpage" src="~/images/startpage-image-thn.jpg" style="width:100%" />
            <h2 class="startpage-thn-name no-pointer-events">Trollhättan</h2>
        </a>
    </div>
    @{
        var isAuthenticated = ViewData["IsAuthenticated"] as string;
        @if (isAuthenticated != "true")
        {
            <h1 class="startpage-or-text no-pointer-events">ELLER</h1>

            <div class="startpage-login-container">
                <a asp-action="Login" asp-controller="Home">
                <div class="startpage-login-box">
                    <h1 class="startpage-login-text no-pointer-events">LOGGA IN</h1>
                </div>
            </a>
        </div>
        }
    }

    <div class="logo-startpage no-pointer-events"><img class="logo-startpage-img" src="~/images/logo_Eventivo.png" alt="Company-Logo" /></div>

</div>
