@{
    Layout = "~/Views/Shared/_layout_start.cshtml";
}

@{
    var isAuthenticated = ViewData["IsAuthenticated"] as string;
    var accountId = ViewData["AccountId"] as string;
    var AccountType = ViewData["AccountType"] as string;
}

<html>
<body>
    @if (isAuthenticated != "true")
    {
        <h3>Du är inte inloggad...</h3>
    }
    else
    {
        <h3>Welcome, @accountId!</h3>
    }
</body>
</html>
