
@{
    ViewData["Title"] = "Home Page";
}

<div class="content">

<div class="loading-screen">

</div>

<div class="hero-image">
    <img src="~/images/trollhattansommar 1.png" id="thn" />

    <div class="hero-text">
        <h1>TROLLHÄTTAN</h1>
    </div>

    <div class="hero-gradient-overlay"></div>

    <div class="hero-scroll-button">
        <img src="~/images/icon-scroll-hero-header.png" onclick="scrollToBottom()" alt="Button that scrolls user to information of the web page">
    </div>
</div>

<h2>
    <span class="gradient-text">POPULÄRA  EVENT</span>
    <div class="gradient-block"></div>
</h2>

    <div id="page-container">
        <div id="container-pop-event">

            <div id="container-pop-event-image">
                <img class="pop-event-image" src="~/images/temp-pop-event-placeholder2.png" />
            </div>

            <div id="container-pop-event-content-seperation">
                <div class="seperation-block"></div>
            </div>

            <div id="container-pop-event-info">
                <div id="container-pop-event-title-description">
                    <h2 class="pop-event-title-text">RÄKKRYSSNING</h2>
                </div>

                <div id="container-pop-event-summary-description">
                    <p class="pop-event-summary-text">
                        Ta en tur ombord på M/S Elfkungen och res längs med Göta älv. 
                        På den omtyckta kryssningen kan du se Trollhättan från vattnet och samtidigt njuta av goda 
                        räkor med tillbehör. Turerna sker dagligen från den 25 juni till den 19 augusti. 
                        Avgång sker från Övre Slussen klockan 18.00, och du är tillbaka 
                        ungefär tre timmar senare.
                    </p>
                </div>

                <div id="container-pop-event-date-area">
                    <div id="container-pop-event-date-icon">
                        <img src="~/images/date-icon.png" />
                    </div>
                    <div id="container-pop-event-date">
                        <p class="pop-event-date-text">29 JULI</p>
                    </div>
                </div>

                <a href="http://google.com">
                    <div id="container-pop-event-infobox-link">
                        <p class="pop-event-infobox-link-text">Läs mer</p>
                        <img src="~/images/read-more-icon.png"/>
                    </div
                </a>

            </div>

        </div>
    </div>

     <div id="page-container">
        <div id="container-pop-event">

            <div id="container-pop-event-image">
                <img class="pop-event-image" src="~/images/temp-pop-event-placeholder3.png" />
            </div>

            <div id="container-pop-event-content-seperation">
                <div class="seperation-block"></div>
            </div>

            <div id="container-pop-event-info">
                <div id="container-pop-event-title-description">
                    <h2 class="pop-event-title-text">SWEDISH FLOORBALL OPEN</h2>
                </div>

                <div id="container-pop-event-summary-description">
                    <p class="pop-event-summary-text">
                        Årets upplaga av Swedish Floorball Open blir den 12:e i ordningen. 
                        Turneringen är väletablerad och spelades första gången år 2010. 
                        Den erfarna arrangören vet vad som krävs för att erbjuda en utomhusturnering 
                        i toppklass.
                    </p>
                </div>

                <div id="container-pop-event-date-area">
                    <div id="container-pop-event-date-icon">
                        <img src="~/images/date-icon.png" />
                    </div>
                    <div id="container-pop-event-date">
                        <p class="pop-event-date-text">8-9 JUN</p>
                    </div>
                </div>

                <a href="http://google.com">
                    <div id="container-pop-event-infobox-link">
                        <p class="pop-event-infobox-link-text">Läs mer</p>
                        <img src="~/images/read-more-icon.png"/>
                    </div
                </a>

            </div>

        </div>
    </div>

<div class="container-fluid align-content-center">
    <div class="row justify-content-center align-items-center">
        <div class="col-9" style="height: 100%;">

            <div class="advert-text position-relative text-lg-start mb-3">
                <div class="advert-text-inner" style="font-size: 12px; text-decoration: underline;">Annons</div>
            </div>

            <div class="advertisement-large d-flex justify-content-center align-items-center position-relative">
                <a href="https://kia.com">
                    <img src="~/images/kia-advert.png" alt="An advert of a car of the car brand KIA, standing in a frozen wonderland" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>

<h2>
    <span class="gradient-text">POPULÄRA  AKTIVITETER</span>
    <div class="gradient-block"></div>
</h2>

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                <!-- nytt carousel förslag // placeholder-->
                    <div class="col-md-4">
                        <div class="box">
                            <img src="~/images/carousel-image-placeholder.png" class="img-fluid" alt="Image 1">
                            <h2 class="carousel-title">VISPFESTIVALEN</h2>
                            <p class="carousel-text">Visfestivalen i Västervik har arrangerats sedan 1966. Några av Sveriges bästa musik...</p>
                            <a href="http://google.com">
                                <div id="container-pop-event-infobox-link">
                                    <p class="carousel-link-text">Läs mer</p>
                                </div>
                            </a>
                            <div id="container-pop-event-date-area">
                                <div id="container-pop-event-date-icon">
                                    <img src="~/images/date-icon.png" />
                                </div>
                                <div id="container-pop-event-date">
                                    <p class="pop-event-date-text">8-9 JUN</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                <!-- nytt carousel förslag // placeholder-->
                    <div class="col-md-4">
                        <div class="box">
                            <img src="~/images/carousel-image-placeholder.png" class="img-fluid" alt="Image 1">
                            <h2 class="carousel-title">VISPFESTIVALEN</h2>
                            <p class="carousel-text">Visfestivalen i Västervik har arrangerats sedan 1966. Några av Sveriges bästa musik...</p>
                            <a href="http://google.com">
                                <div id="container-pop-event-infobox-link">
                                    <p class="carousel-link-text">Läs mer</p>
                                </div>
                            </a>
                            <div id="container-pop-event-date-area">
                                <div id="container-pop-event-date-icon">
                                    <img src="~/images/date-icon.png" />
                                </div>
                                <div id="container-pop-event-date">
                                    <p class="pop-event-date-text">8-9 JUN</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                <!-- nytt carousel förslag // placeholder-->
                    <div class="col-md-4">
                        <div class="box">
                            <img src="~/images/carousel-image-placeholder.png" class="img-fluid" alt="Image 1">
                            <h2 class="carousel-title">VISPFESTIVALEN</h2>
                            <p class="carousel-text">Visfestivalen i Västervik har arrangerats sedan 1966. Några av Sveriges bästa musik...</p>
                            <a href="http://google.com">
                                <div id="container-pop-event-infobox-link">
                                    <p class="carousel-link-text">Läs mer</p>
                                </div>
                            </a>
                            <div id="container-pop-event-date-area">
                                <div id="container-pop-event-date-icon">
                                    <img src="~/images/date-icon.png" />
                                </div>
                                <div id="container-pop-event-date">
                                    <p class="pop-event-date-text">8-9 JUN</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                <!-- nytt carousel förslag // placeholder-->                           
                    <div class="col-md-4">
                        <div class="box">
                            <img src="~/images/carousel-image-placeholder.png" class="img-fluid" alt="Image 1">
                            <h2 class="carousel-title">VISPFESTIVALEN</h2>
                            <p class="carousel-text">Visfestivalen i Västervik har arrangerats sedan 1966. Några av Sveriges bästa musik...</p>
                            <a href="http://google.com">
                                <div id="container-pop-event-infobox-link">
                                    <p class="carousel-link-text">Läs mer</p>
                                </div>
                            </a>
                            <div id="container-pop-event-date-area">
                                <div id="container-pop-event-date-icon">
                                    <img src="~/images/date-icon.png" />
                                </div>
                                <div id="container-pop-event-date">
                                    <p class="pop-event-date-text">8-9 JUN</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                 <!-- mer karusel grejer om det behövs-->
                </div>
            </div>
        </div>
    </div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>

<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>



</div> <!--slut på karusel-->


</div>
