
@{
    ViewData["Title"] = "Home Page";
}

<div class="content">

<div class="loading-screen">

</div>

<h2 id="top-titlecard-at-section">
    <span class="gradient-text">HÄNDER JUST NU</span>
    <div class="gradient-block"></div>
</h2>

    <div id="page-container">
        <div id="container-pop-event">

            <div id="container-pop-event-image">
                <img class="pop-event-image" src="~/images/placeholder-socializing.png" />
            </div>

            <div id="container-pop-event-content-seperation">
                <div class="seperation-block"></div>
            </div>

            <div id="container-pop-event-info">
                <div id="container-pop-event-title-description">
                    <h2 class="pop-event-title-text">KROGKULTUR GULDKANT</h2>
                </div>

                <div id="container-pop-event-summary-description">
                    <p class="pop-event-summary-text">
                    Nu är det äntligen dags igen! Då är Krogkultur tillbaka för att för 
                    sjätte gången lysa upp vintermörkret med musik och kultur runt om på 
                    stadens krogar. Programmet innehåller allt från singer/songwriter, folk, pop, 
                    blues, jazz, klassisk gitarr, piano till rock, vispop och indiepop.
                    </p>
                </div>

                <div id="container-pop-event-date-area">
                    <div id="container-pop-event-date-icon">
                        <img src="~/images/date-icon.png" />
                    </div>
                    <div id="container-pop-event-date">
                        <p class="pop-event-date-text">2 JUNI</p>
                    </div>
                </div>

                <a href="http://google.com">
                    <div id="container-pop-event-infobox-link">
                        <p class="pop-event-infobox-link-text">Läs mer</p>
                        <img src="~/images/read-more-icon.png"/>
                    </div
                </a>

            </div>

        </div>
    </div>

     <div id="page-container">
        <div id="container-pop-event">

            <div id="container-pop-event-image">
                <img class="pop-event-image" src="~/images/placeholder-socializing-2.png" />
            </div>

            <div id="container-pop-event-content-seperation">
                <div class="seperation-block"></div>
            </div>

            <div id="container-pop-event-info">
                <div id="container-pop-event-title-description">
                    <h2 class="pop-event-title-text">MUSIK & KARAOKE THAI ROET</h2>
                </div>

                <div id="container-pop-event-summary-description">
                    <p class="pop-event-summary-text">
                        Det dags för karaoke och musik hos oss på Thai Roi-et igen! 
                        Mattias & Marcus sköter musik & karaoke.
                    </p>
                </div>

                <div id="container-pop-event-date-area">
                    <div id="container-pop-event-date-icon">
                        <img src="~/images/date-icon.png" />
                    </div>
                    <div id="container-pop-event-date">
                        <p class="pop-event-date-text">7 MAJ</p>
                    </div>
                </div>

                <a href="http://google.com">
                    <div id="container-pop-event-infobox-link">
                        <p class="pop-event-infobox-link-text">Läs mer</p>
                        <img src="~/images/read-more-icon.png"/>
                    </div
                </a>

            </div>

        </div>
    </div>

<div class="container-fluid align-content-center">
    <div class="row justify-content-center align-items-center">
        <div class="col-9" style="height: 100%;">

            <div class="advert-text position-relative text-lg-start mb-3">
                <div class="advert-text-inner" style="font-size: 12px; text-decoration: underline;">Annons</div>
            </div>

            <div class="advertisement-large d-flex justify-content-center align-items-center position-relative">
                <a href="https://kia.com">
                    <img src="~/images/advert-placeholder.png" alt="An advert of a car of the car brand KIA, standing in a frozen wonderland" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>

<h2>
    <span class="gradient-text">POPULÄRA AKTIVITETER</span>
    <div class="gradient-block"></div>
</h2>

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                <!-- nytt carousel förslag // placeholder-->
                    <div class="col-md-4">
                        <div class="box">
                            <img src="~/images/carousel-image-placeholder.png" class="img-fluid" alt="Image 1">
                            <h2 class="carousel-title">VISPFESTIVALEN</h2>
                            <p class="carousel-text">Visfestivalen i Västervik har arrangerats sedan 1966. Några av Sveriges bästa musik...</p>
                            <a href="http://google.com">
                                <div id="container-pop-event-infobox-link">
                                    <p class="carousel-link-text">Läs mer</p>
                                </div>
                            </a>
                            <div id="container-pop-event-date-area">
                                <div id="container-pop-event-date-icon">
                                    <img src="~/images/date-icon.png" />
                                </div>
                                <div id="container-pop-event-date">
                                    <p class="pop-event-date-text">8-9 JUN</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                <!-- nytt carousel förslag // placeholder-->
                    <div class="col-md-4">
                        <div class="box">
                            <img src="~/images/carousel-image-placeholder.png" class="img-fluid" alt="Image 1">
                            <h2 class="carousel-title">VISPFESTIVALEN</h2>
                            <p class="carousel-text">Visfestivalen i Västervik har arrangerats sedan 1966. Några av Sveriges bästa musik...</p>
                            <a href="http://google.com">
                                <div id="container-pop-event-infobox-link">
                                    <p class="carousel-link-text">Läs mer</p>
                                </div>
                            </a>
                            <div id="container-pop-event-date-area">
                                <div id="container-pop-event-date-icon">
                                    <img src="~/images/date-icon.png" />
                                </div>
                                <div id="container-pop-event-date">
                                    <p class="pop-event-date-text">8-9 JUN</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                <!-- nytt carousel förslag // placeholder-->
                    <div class="col-md-4">
                        <div class="box">
                            <img src="~/images/carousel-image-placeholder.png" class="img-fluid" alt="Image 1">
                            <h2 class="carousel-title">VISPFESTIVALEN</h2>
                            <p class="carousel-text">Visfestivalen i Västervik har arrangerats sedan 1966. Några av Sveriges bästa musik...</p>
                            <a href="http://google.com">
                                <div id="container-pop-event-infobox-link">
                                    <p class="carousel-link-text">Läs mer</p>
                                </div>
                            </a>
                            <div id="container-pop-event-date-area">
                                <div id="container-pop-event-date-icon">
                                    <img src="~/images/date-icon.png" />
                                </div>
                                <div id="container-pop-event-date">
                                    <p class="pop-event-date-text">8-9 JUN</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                <!-- nytt carousel förslag // placeholder-->                           
                    <div class="col-md-4">
                        <div class="box">
                            <img src="~/images/carousel-image-placeholder.png" class="img-fluid" alt="Image 1">
                            <h2 class="carousel-title">VISPFESTIVALEN</h2>
                            <p class="carousel-text">Visfestivalen i Västervik har arrangerats sedan 1966. Några av Sveriges bästa musik...</p>
                            <a href="http://google.com">
                                <div id="container-pop-event-infobox-link">
                                    <p class="carousel-link-text">Läs mer</p>
                                </div>
                            </a>
                            <div id="container-pop-event-date-area">
                                <div id="container-pop-event-date-icon">
                                    <img src="~/images/date-icon.png" />
                                </div>
                                <div id="container-pop-event-date">
                                    <p class="pop-event-date-text">8-9 JUN</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                 <!-- mer karusel grejer om det behövs-->
                </div>
            </div>
        </div>
    </div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>

<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>



</div> <!--slut på karusel-->


</div>
