@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-image">
    <img src="~/images/heroheader-image-thn.png" id="thn" />
    <div class="hero-text">
        <h1>TROLLHÄTTAN</h1>
    </div>
</div>