@using ActivoWebPage.Models
@model HomeViewModel

@{
    Layout = "~/Views/Shared/_layout_trollhattan.cshtml";
}

<div class="startbody">
    <div class="smallercontent">
        <h1>Sök event & aktiviteter</h1>

        <!-- Kryssrutor för filter -->
        @*<div class="activityorEvent">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Event
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Aktiviteter
                    </label>
                </div>
            </div>*@

        <div class="checkboxes">
            @foreach (var tag in Model.Tags)
            {
                <div class="form-check-inline">
                    <input class="filter-checkbox" type="checkbox" value="@tag?.tagID" id="flexCheckChecked">
                    <label class="form-check-label" for="@tag?.name">
                        @tag?.name
                    </label>
                </div>
            }
        </div>




        <table id="events-activities-table" class="table table-hover table-striped table-responsive">
            <thead>
                <tr>
                    <th scope="col">Namn</th>
                    <th scope="col">Beskrivning</th>
                    <th scope="col">Plats</th>
                    <th scope="col">Tider</th>
                    <th scope="col">Länk</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var events in Model.Events)
                {
                    <tr data-tags="@string.Join(",", events.TagID)">
                        <td>@events?.Name</td>
                    <td>
                        @{
                            string description = events?.Description ?? string.Empty;
                            string[] sentences = description.Split(new[] { '.' }, StringSplitOptions.RemoveEmptyEntries);
                            string shortDescription = string.Join(".", sentences.Take(2));
                        }

                        <p class="pop-event-summary-text">
                            @shortDescription
                        </p>
                    </td>
                        <td>@events?.PlacesID</td>
                        <td>@events?.StartDateTime?.ToString("yyyy-MM-dd HH:mm")</td>
                        <td><a href="@events?.URL" target="_blank">@events?.URL</a></td>
                    </tr>
                }

                @foreach (var activity in Model.Activities)
                {
                    <tr data-tags="@string.Join(",", activity.tags.Select(t => t.tagID))">
                        <td>@activity?.name</td>
                         <td>
                        @{
                        string description = activity?.description ?? string.Empty;
                        string[] sentences = description.Split(new[] { '.' }, StringSplitOptions.RemoveEmptyEntries);
                        string shortDescription = string.Join(".", sentences.Take(2));
                        }

                        <p class="pop-event-summary-text">
                            @shortDescription
                        </p>
                        </td>
                        <td>@activity?.PlacesID</td>
                        <td>@activity?.openHours</td>
                        <td><a href="@activity?.url" target="_blank">@activity?.url</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <script>$(document).ready(function () {
            $(".filter-checkbox").change(function () {
                filterTable();
            });

            function filterTable() {
                var selectedFilters = [];
                $(".filter-checkbox:checked").each(function () {
                    selectedFilters.push($(this).val());
                });

                $("#events-activities-table tbody tr").each(function () {
                    var showRow = false;
                    var rowTags = $(this).data("tags").split(',').map(Number);

                    if (selectedFilters.length === 0) {
                        showRow = true;
                    } else {
                        for (var i = 0; i < rowTags.length; i++) {
                            if (selectedFilters.includes(rowTags[i].toString())) {
                                showRow = true;
                                break;
                            }
                        }
                    }

                    if (showRow) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            }
        });</script>
}
