
/* Events */
/* text */
.pop-event-title-text {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    max-width: 400px;
}

.pop-event-title-text-bottom {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    text-align: end;
    max-width: 400px;
    margin-top: -5px;

}

    .pop-event-summary-text {
        font-size: 14px;
        font-family: 'Istok Web', sans-serif;
        font-weight: 500;
        max-height: 120px;
        width: 340px;
        overflow: auto;
    }

.pop-event-summary-text-bottom {
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 500;
    max-height: 120px;
    width: 340px;
    overflow: auto;
    text-align: end;
}

    .pop-event-date-text {
        font-size: 14px;
        font-family: 'Istok Web', sans-serif;
        font-weight: 500;
        font-style: italic;
        margin-top: 28px;
        text-decoration: underline;
        text-color: black;
        text-decoration-thickness: 1px;
    }

.pop-event-date-text-bottom {
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 500;
    font-style: italic;
    margin-top: 28px;
    text-decoration: underline;
    text-color: black;
    text-decoration-thickness: 1px;
    text-align: end;
}

    .pop-event-infobox-link-text {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }

.pop-event-infobox-link-text-bottom {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-align: end;
}

a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

        a:hover {
            color: darkgoldenrod !important;
            text-decoration: none;
        }

/*slut på text css och början av div css logik*/
.container-pop-event:hover {
    transform: scale(1.05);
}

.container-pop-event-lower:hover {
    transform: scale(1.05);
}

.page-container:hover{
    cursor:default;
}

.page-container {
    display: flex;
    flex-direction: column;
    max-width: 100% !important;
    margin: 0px auto;
    min-width: 990px;
    justify-content: center;
    transition: 0.7s;
    cursor: pointer;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    padding: 30px;
}

.container-pop-event {
    margin: 0px auto;
    display: flex;
    justify-content: flex-start;
    max-width: fit-content;
    align-items: flex-start;
    justify-content: center;
    transition: 0.5s;
    overflow: hidden;
}

/*sträcker ut bilderna till det som de borde vara, ser lite skit ut på en del bilder men får bli så tills vidare*/
.container-pop-event-image {
    flex: 0 0 auto;
    margin-right: 10px;
    width: 400px !important;
    height: 300px !important;
    background-color: transparent;
    border-radius: 20px;
}

.pop-event-image {
    max-width: 400px !important;
    width: 400px !important;
    height: 300px;
    object-fit: fill;
    border-radius: 20px;
}

    .container-pop-event-content-seperation {
        height: 100%;
        width: 30px;
    }

    .seperation-block {
        border-bottom: 55px solid black;
        width: 5px;
        margin-left: 35px;
    }

    .container-pop-event-info {
        margin-left: 25px;
        display: flex;
        flex-direction: column;
    }

    .container-pop-event-date-area {
        display: flex;
        align-items: center;
        margin-top: -25px;
        margin-bottom: 10px;
    }

.container-pop-event-date-icon img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 10px;
}

.container-pop-event-infobox-link {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px 0;
    margin-top: -10px;
}

        .container-pop-event-infobox-link img {
            margin-top: -16px;
            width: 20px;
            height: auto;
        }


.container-pop-event-lower {
    margin: 0px auto;
    margin-top: -20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    transition: 0.5s;
}

.container-pop-event-image-lower {
    flex: 0 0 auto;
    margin-left: 5px;
}

.pop-event-image-lower {
    max-width: 400px !important;
    border-radius: 20px;
    height: 300px;
    object-fit: cover;
}

.container-pop-event-content-seperation-lower {
    height: 100%;
    width: 30px;
    margin-right: 55px;
}

.seperation-block-lower {
    border-bottom: 55px solid black;
    width: 5px;
    margin-left: 35px;
}

.container-pop-event-title-description-lower {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.container-pop-event-summary-description-lower {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.container-pop-event-info-lower {
    display: flex;
    flex-direction: column;
    margin-right: -17px;
}

.container-pop-event-date-area-lower {
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 10px;
    justify-content: flex-end;
    width: calc(100% - 5px);
}

.container-pop-event-date-icon-lower img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 10px;
}

.container-pop-event-infobox-link-lower {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
    justify-content: flex-end;
    width: calc(100% - 5px);
    margin-top: -10px;
}

    .container-pop-event-infobox-link-lower img {
        margin-top: -16px;
        width: 20px;
        height: auto;
    }



/* reklam css typ */
.advert-text {
    font-size: 12px;
    text-decoration: underline;
    margin-top: 20px;
    color: black;
    margin-left: 5px;
}

.advert-image-container {
    max-width: fit-content;
}

.advertisement-large img {
    transition: filter 0.3s;
    border-radius: 11px;
}

.advertisement-large:hover img {
    filter: brightness(80%) grayscale(20%) contrast(120%);
    cursor: pointer;
}

.advertisement-large {
    width: 100%;
    height: auto;
    margin-top: -25px;
    margin: 0 auto;
    margin-bottom: 100px;
    /*object-fit: cover;*/
}




/* Carousel */
.activitesCarousel {
    display: flex;
    overflow: scroll;
    margin-left: 10vw;
    gap: 25px;
    width: 80vw;
    padding-bottom: 15px;
}

.box {
    width: 300px;
    background-color: #FFC9C0;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.5)
}

.carousel-title {
    margin-top: 10px;
    font-size: large;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.carousel-text {
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    height: 140px;
    overflow: hidden;
}

.carousel-link-text {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.cardDetails {
    display: flex;
    flex-direction: column;
}

.activityDateArea {
    height: 35px;
    display: flex;
    align-items: center;
}

.carousel-date-text {
    margin: 0 !important;
    font-size: 12px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
}

.carousel-image {
    width: 200px;
    height: auto;
    max-height: 115px;
    border-radius: 5px;
    align-self: center;
}

/*EventDetails*/
/* OBS att det är flera med samma namn som i menyerna! */
.event-details {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 20px;
}

.event-map iframe {
    flex: 0 0 auto; /* Prevent the iframe from growing */
    margin-right: 20px; /* Space between map and info */
}

.event-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .event-info div {
        margin-bottom: 10px; /* Space between info lines */
    }

.bi {
    margin-right: 5px; /* Space between icon and text */
}

#container-pop-event {
    max-width: 1200px; /* Max width of the container */
    margin: auto; /* Center the container */
    padding: 0 40px; /* Padding on the sides */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-image-wrapper {
    max-width: 100%; /* Ensure the image container does not overflow the width of the parent */
    padding: 0 40px; /* Padding on the sides */
    box-sizing: border-box; /* Include padding in the width calculation */
    margin-bottom: 20px; /* Space between image and text */
}

.event-image {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 10px; /* Rounded corners */
}

.event-description p {
    text-align: justify;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.6;
    padding: 0 40px;
}

@media (max-width: 768px) {
    #container-pop-event {
        padding: 0 20px; /* Smaller padding on smaller screens */
    }

    .event-image-wrapper, .event-description p {
        padding: 0 20px;
    }
}
