/*  Generella css */

html {
    font-size: 20px;
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    /*min-width: 990px;*/ /*tills overflow av infoboxar har fixats (mobilanpassning) därefter omkring 500px min*/
}

.smallercontent {
    margin: 5%;
}

.startbody {
    background-image: url("/images/bakgrund.png");
    background-size: cover;
}

.container-seperation {
    width: 100%;
    height: 10px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.no-pointer-events {
    pointer-events: none;
}
/*scrollbar test*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #E6E4E4;
}

::-webkit-scrollbar-thumb {
    background: #ADACAC;
    border-radius: 50px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #969595;
    }


/* navbar */

/* adaptiv storlek av navbar först */
@media (max-width: 1330px) {
    .content-align-desktop {
        display: none !important;
    }
}

@media (min-width: 1331px) {
    .content-align-mobile {
        display: none !important;
    }
}

#logged-in-menu, #logged-out-menu {
    width: 200px;
}

#loginStatus {
    display: flex;
    text-align: center;
}

.container-categories {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.nav-start {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
}

/*.nav-item {
    margin-left: 5px;
}*/

/*gör att dropdown-boxen inte ligger längre ner än de andra sakerna*/
.nav-item {
    display: flex;
    position: relative;
    margin-left: 5px;
}


.bg-custom {
    background-color: #212121;
}

.search-icon {
    width: 20px;
    height: auto;
    margin-left: 4px;
    margin-bottom: 5px;
}

.navbar {
    padding: 15px;
    position: relative;
}

.dropdown-toggle {
    margin-left: 12px;
}

.nav-link {
    color: #ffffff !important;
    font-size: 20px;
    font-family: 'Roboto Medium', sans-serif;
    transition: 0.75s;
}
    .nav-link:hover {
        color: darkgoldenrod !important;
    }

.nav-link-sm {
    width: 210px;
    margin-right: -20px;
}

.nav-link-lg {
    width: 265px;
    margin-left: -20px;
}

.d-flex {
    align-items: center;
}


.dropdown-cities {
    margin-left: 3% !important; /* blir inte centrerad på rätt sätt så gör en liten separat margin */
}

.dropdown-cities,
.dropdown-categories,
.dropdown-profile {
    background-color: #212121;
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: dropdownAnimation 0.2s ease forwards;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1000;
    padding: 10px !important;
    min-width: fit-content;
    margin-top: 30px !important;
    text-align: center;
}

.dropdown-city {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.dropdown-menu .dropdown-item {
    color: white;
    transition: 0.75s;
    border-radius: 15px;
}

    .dropdown-menu .dropdown-item:hover {
        color: darkgoldenrod;
        background-color: #212529;
    }

@keyframes dropdownAnimation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* titel text */
.gradient-text {
    margin-left: 3%;
    margin-bottom: 30px;
    background-color: black;
    background-image: linear-gradient(to right, #FE85B6 0%, #FEA8C4 30%, #FFBE74 70%, #FFA8C4 190%);
    background-size: auto;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: -2px;
}

    #top-titlecard-at-section {
        margin-top: 75px;
    }

    .gradient-block {
        border-bottom: 5px solid black;
        width: 120px;
        margin-left: 3%;
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .chosen-section-highlight-text {
        transform: scale(1.1);
        background-image: linear-gradient(to right, #FE85B6 0%, #FEA8C4 30%, #FFBE74 80%, #FFA8C4 150%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-style: italic;
        font-weight: 700;
        color: transparent;
    }


/* footer */
.footer-wrapper {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
}

.footer {
    margin-top: auto;
    width: 100%;
    background-color: transparent;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
/*    min-width: 990px;*/
    height: 120px;
}  

    .logo-footer {
        width: 30px;
        height: auto;
    }

    .footer-icons {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

        .footer-icons a {
            color: black !important;
            text-decoration: none;
        }

    .mb-2{
        width: fit-content;
        height: 30px;
        z-index: 2;
    }

.footer-icon-text {
    display: flex;
    align-items: center;
    display: inline-block;
    margin-left: 4px;
    margin-bottom: -4px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-style: italic;
}

    .footer-icons a:hover {
        color: darkgoldenrod !important;
    }

.footer-nav {
    position: absolute;
    width: 100%;
    text-align: center;
/*    min-width: 990px;*/
    z-index: 1;
}

    .footer-nav .nav-link-footer {
        color: black;
        display: inline-block;
        text-align: center;
        font-size: 20px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
        transition: 0.5s;
    }

            .footer-nav .nav-link:last-child {
                margin-right: 0;
            }

            .footer-nav .nav-link-footer:hover {
                color: darkgoldenrod !important;
            }

.nav-link-footer{
    width: 150px;
    height: fit-content;
}

