html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height:100vh;
}

h1{
font-size:100px;
font-weight:800;
width:100vw;
}

#thn{
    height: 40vh;
    width:100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-self:right;
    align-self:center;
}

.hero-image{
    margin-right:0%;
    margin-top:0%;
}

.hero-text{
    text-align:center;
    position:absolute;
    top: 35%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
}

.nav-link {
    color: #ffffff !important; 
}

.nav-link:hover {
    color: darkgoldenrod !important;
}
.footer {
    width: 100%;
    background-color: transparent; /* Transparens */
    font-size: 15px;
    display: flex;
    padding-bottom: 0%;
    margin: 0%;
    justify-content: space-between;
    align-items: center;
}

.footer-icons a {
    color: black;
    text-decoration: none;
    gap:10px; /* Mellanrum mellan ikonerna */
}

.footer-nav .nav-link {
    color: black !important;
    font-family: 'Inter', sans-serif;
    padding-right: 250px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0%;
}

    .footer-nav .nav-link:hover {
        color: darkgoldenrod !important; 
    }


