@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "~/Views/Shared/_layout_vastervik.cshtml";
}

<div class="hero-image">
    <img src="~/images/heroheader-image-vvik.png" id="Vvik"/>
    
    <div class="hero-text">
        <h1>VÄSTERVIK</h1>
    </div>

    <div class="hero-gradient-overlay"></div>

    <div class="hero-scroll-button">
        <img src="~/images/icon-scroll-hero-header.png" onclick="scrollToBottom()" alt="Button that scrolls user to information of the web page">
    </div>

</div>

<h2>
    <span class="gradient-text">POPULÄRA  EVENT</span>
    <div class="gradient-block"></div>
</h2>


@foreach (DataRow row in Model.Rows)
{
    <div class="container-pop-event">

        <div class="container-pop-event-image">
            <img class="pop-event-image" src="@row["ImageData"]" />
        </div>

        <div class="container-pop-event-content-seperation">
            <div class="seperation-block"></div>
        </div>

        <div class="container-pop-event-info">
            <div class="container-pop-event-title-description">
                <h2 class="pop-event-title-text">@row["Name"]<h2>
            </div>

            <div class="container-pop-event-summary-description">
                <p class="pop-event-summary-text">
                    @row["Description"]
                </p>
            </div>

            <div class="container-pop-event-date-area">
                <div class="container-pop-event-date-icon">
                    <img src="~/images/date-icon.png" />
                </div>
                <div class="container-pop-event-date">
                    <p class="pop-event-date-text">@row["StartDateTime"]</p>
                </div>
            </div>

            <div class="container-pop-event-infobox-link">
                <p class="pop-event-infobox-link-text"><a href="#">Läs mer</a></p>
                <img src="~/images/read-more-icon.png" />
            </div>

        </div>

    </div>
}

<div class="container-fluid align-content-center">
    <div class="row justify-content-center align-items-center">
        <div class="col-9" style="height: 100%;">

            <div class="advert-text">
                <div class="advert-text-inner" style="font-size: 12px; text-decoration: underline;">Annons</div>
            </div>

            <div class="advertisement-large d-flex justify-content-center align-items-center position-relative">
                <a href="https://kia.com">
                    <img src="~/images/advert-placeholder.png" alt="An advert of a car of the car brand KIA, standing in a frozen wonderland" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>

<h2>
    <span class="gradient-text">POPULÄRA  AKTIVITETER</span>
    <div class="gradient-block"></div>
</h2>

<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="~/images/carousel-image-placeholder.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>VISPFESTIVALEN</h2>
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="~/images/carousel-image-placeholder.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>VISPFESTIVALEN</h2>
                <h5>second slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
       <div class="carousel-item " data-bs-interval="10000">
            <img src="~/images/carousel-image-placeholder.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>VISPFESTIVALEN</h2>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
