
@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "~/Views/Shared/_layout_vastervik.cshtml";
}

<div class="content">

    <div class="loading-screen">
    </div>


    <h2 id="top-titlecard-at-section">
        <span class="gradient-text">SPORT  &  FRILUFTSLIV</span>
        <div class="gradient-block"></div>
    </h2>

    <div class="page-container">
        <div class="container-pop-event">

            <div class="container-pop-event-image">
                <img class="pop-event-image" src="~/images/placeholder-general.jpg" />
            </div>

            <div class="container-pop-event-content-seperation">
                <div class="seperation-block"></div>
            </div>

            <div class="container-pop-event-info">
                <div class="container-pop-event-title-description">
                    <h2 class="pop-event-title-text">PLACEHOLDER PLACEHOLDER</h2>
                </div>

                <div class="container-pop-event-summary-description">
                    <p class="pop-event-summary-text">
                        placeholder text, place holdertext osv. placeholder text, place holdertext osv.placeholder text, place holdertext osv.
                        placeholder text, place holdertext osv.placeholder text, place holdertext osv. placeholder text, place holdertext osv.
                        placeholder text, place holdertext osv. placeholder text, place holdertext osv.placeholder text, place holdertext osv.
                    </p>
                </div>

                <div class="container-pop-event-date-area">
                    <div class="container-pop-event-date-icon">
                        <img src="~/images/date-icon.png" />
                    </div>
                    <div class="container-pop-event-date">
                        <p class="pop-event-date-text">1 AUGUSTI</p>
                    </div>
                </div>

                <div class="container-pop-event-infobox-link">
                    <p class="pop-event-infobox-link-text"><a href="#">Läs mer</a></p>
                    <img src="~/images/read-more-icon.png" />
                </div>

            </div>

        </div>

    </div>

    <div class="page-container">
        <div class="container-pop-event-lower">

            <div class="container-pop-event-info-lower">
                <div class="container-pop-event-title-description-lower">
                    <h2 class="pop-event-title-text-bottom">PLACEHOLDER PLACEHOLDER</h2>
                </div>

                <div class="container-pop-event-summary-description-lower">
                    <p class="pop-event-summary-text-bottom">
                        placeholder text, place holdertext osv. placeholder text, place holdertext osv.placeholder text, place holdertext osv.
                        placeholder text, place holdertext osv. placeholder text, place holdertext osv. placeholder text, place holdertext osv.
                        placeholder text, place holdertext osv. placeholder text, place holdertext osv.placeholder text, place holdertext osv.
                    </p>
                </div>

                <div class="container-pop-event-date-area-lower">
                    <div class="container-pop-event-date-icon-lower">
                        <img src="~/images/date-icon.png" />
                    </div>
                    <div class="container-pop-event-date-lower">
                        <p class="pop-event-date-text-bottom">1 AUGUSTI</p>
                    </div>
                </div>

                <div class="container-pop-event-infobox-link-lower">
                    <p class="pop-event-infobox-link-text-bottom"><a href="#">Läs mer</a></p>
                    <img src="~/images/read-more-icon.png" />
                </div>
            </div>

            <div class="container-pop-event-content-seperation-lower">
                <div class="seperation-block-lower"></div>
            </div>

            <div class="container-pop-event-image-lower">
                <img class="pop-event-image-lower" src="~/images/placeholder-general.jpg" />
            </div>

        </div>
    </div>



<div class="container-fluid align-content-center">
    <div class="row justify-content-center align-items-center">
        <div class="col-9" style="height: 100%;">

            <div class="advert-text position-relative text-lg-start mb-3">
                <div class="advert-text-inner" style="font-size: 12px; text-decoration: underline;">Annons</div>
            </div>

            <div class="advertisement-large d-flex justify-content-center align-items-center position-relative">
                <a href="https://kia.com">
                    <img src="~/images/advert-placeholder.png" alt="An advert of a car of the car brand KIA, standing in a frozen wonderland" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>

<h2>
    <span class="gradient-text">POPULÄRA AKTIVITETER</span>
    <div class="gradient-block"></div>
</h2>

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                <!-- nytt carousel förslag // placeholder-->
                    <div class="col-md-4">
                        <div class="box">
                            <img src="~/images/carousel-image-placeholder.png" class="img-fluid" alt="Image 1">
                            <h2 class="carousel-title">VISPFESTIVALEN</h2>
                            <p class="carousel-text">Visfestivalen i Västervik har arrangerats sedan 1966. Några av Sveriges bästa musik...</p>
                            <a href="http://google.com">
                                <div id="container-pop-event-infobox-link">
                                    <p class="carousel-link-text">Läs mer</p>
                                </div>
                            </a>
                            <div id="container-pop-event-date-area">
                                <div id="container-pop-event-date-icon">
                                    <img src="~/images/date-icon.png" />
                                </div>
                                <div id="container-pop-event-date">
                                    <p class="pop-event-date-text">8-9 JUN</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                <!-- nytt carousel förslag // placeholder-->
                    <div class="col-md-4">
                        <div class="box">
                            <img src="~/images/carousel-image-placeholder.png" class="img-fluid" alt="Image 1">
                            <h2 class="carousel-title">VISPFESTIVALEN</h2>
                            <p class="carousel-text">Visfestivalen i Västervik har arrangerats sedan 1966. Några av Sveriges bästa musik...</p>
                            <a href="http://google.com">
                                <div id="container-pop-event-infobox-link">
                                    <p class="carousel-link-text">Läs mer</p>
                                </div>
                            </a>
                            <div id="container-pop-event-date-area">
                                <div id="container-pop-event-date-icon">
                                    <img src="~/images/date-icon.png" />
                                </div>
                                <div id="container-pop-event-date">
                                    <p class="pop-event-date-text">8-9 JUN</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                <!-- nytt carousel förslag // placeholder-->
                    <div class="col-md-4">
                        <div class="box">
                            <img src="~/images/carousel-image-placeholder.png" class="img-fluid" alt="Image 1">
                            <h2 class="carousel-title">VISPFESTIVALEN</h2>
                            <p class="carousel-text">Visfestivalen i Västervik har arrangerats sedan 1966. Några av Sveriges bästa musik...</p>
                            <a href="http://google.com">
                                <div id="container-pop-event-infobox-link">
                                    <p class="carousel-link-text">Läs mer</p>
                                </div>
                            </a>
                            <div id="container-pop-event-date-area">
                                <div id="container-pop-event-date-icon">
                                    <img src="~/images/date-icon.png" />
                                </div>
                                <div id="container-pop-event-date">
                                    <p class="pop-event-date-text">8-9 JUN</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                <!-- nytt carousel förslag // placeholder-->                           
                    <div class="col-md-4">
                        <div class="box">
                            <img src="~/images/carousel-image-placeholder.png" class="img-fluid" alt="Image 1">
                            <h2 class="carousel-title">VISPFESTIVALEN</h2>
                            <p class="carousel-text">Visfestivalen i Västervik har arrangerats sedan 1966. Några av Sveriges bästa musik...</p>
                            <a href="http://google.com">
                                <div id="container-pop-event-infobox-link">
                                    <p class="carousel-link-text">Läs mer</p>
                                </div>
                            </a>
                            <div id="container-pop-event-date-area">
                                <div id="container-pop-event-date-icon">
                                    <img src="~/images/date-icon.png" />
                                </div>
                                <div id="container-pop-event-date">
                                    <p class="pop-event-date-text">8-9 JUN</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                 <!-- mer karusel grejer om det behövs-->
                </div>
            </div>
        </div>
    </div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>

<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>



</div> <!--slut på karusel-->
</div>
