/* _content/ActivoWebPage/Views/Shared/_Layout_start.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-37dl1obj0a] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-37dl1obj0a] {
  color: #0077cc;
}

.btn-primary[b-37dl1obj0a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-37dl1obj0a], .nav-pills .show > .nav-link[b-37dl1obj0a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-37dl1obj0a] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-37dl1obj0a] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-37dl1obj0a] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-37dl1obj0a] {
  font-size: 1rem;
  line-height: inherit;
}


/* _content/ActivoWebPage/Views/Shared/_Layout_trollhattan.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-bf4cwsl8ww] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-bf4cwsl8ww] {
  color: #0077cc;
}

.btn-primary[b-bf4cwsl8ww] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-bf4cwsl8ww], .nav-pills .show > .nav-link[b-bf4cwsl8ww] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-bf4cwsl8ww] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-bf4cwsl8ww] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-bf4cwsl8ww] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-bf4cwsl8ww] {
  font-size: 1rem;
  line-height: inherit;
}


/* _content/ActivoWebPage/Views/Shared/_Layout_vastervik.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-uwvtgnf637] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-uwvtgnf637] {
  color: #0077cc;
}

.btn-primary[b-uwvtgnf637] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-uwvtgnf637], .nav-pills .show > .nav-link[b-uwvtgnf637] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-uwvtgnf637] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-uwvtgnf637] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-uwvtgnf637] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-uwvtgnf637] {
  font-size: 1rem;
  line-height: inherit;
}


