<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eventivo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">

</head>

<body>
    <header class="header-trollhattan">
        <nav class="navbar bg-custom border-body">

            <div class="nav-start">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                    <img src="~/images/logo_eventivo.png" alt="Logo" id="index" width="70" height="70" class="d-inline-block align-text-top" />
                </a>

                <div class="container-categories">
                    <div class="d-flex content-align-desktop">
                        <a class="nav-link nav-link-sm" id="culture" asp-action="Culture" asp-controller="Vastervik">KULTUR & NÖJE</a>
                        <a class="nav-link nav-link-sm" id="socializing" asp-action="Socializing" asp-controller="Vastervik">ÄTA & DRICKA</a>
                        <a class="nav-link nav-link-lg" id="sports" asp-action="Sports" asp-controller="Vastervik">SPORT & FRILUFTSLIV</a>
                    </div>

                    <div class="nav-item content-align-mobile">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            VÄLJ KATEGORI
                        </a>
                        <ul class="dropdown-menu dropdown-categories">
                            <li class="dropdown-category"><a class="dropdown-item" id="culture-mobile" asp-action="Culture" asp-controller="Vastervik">KULTUR & NÖJE</a></li>
                            <li class="dropdown-category"><a class="dropdown-item" id="socializing-mobile" asp-action="Socializing" asp-controller="Vastervik">ÄTA & DRICKA</a></li>
                            <li class="dropdown-category"><a class="dropdown-item" id="sports-mobile" asp-action="Sports" asp-controller="Vastervik">SPORT & FRILUFTSLIV</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="nav-list">

                <div class="vr text-light" style="width: 3px;"></div>
                <a class="nav-link" asp-action="Search" asp-controller="Home">SÖK EVENT <img class="search-icon" src="~/images/searchglass.svg" /></a>
                <div class="vr text-light" style="width: 3px;"></div>

                <div id="loginStatus">

                    <div id="skeleton-profile-placeholder"></div>

                    <a class="nav-link line-profile" id="logged-out-menu" asp-action="Search" asp-controller="Home">LOGGA IN</a>
                    @*länka till inloggningssidan istället*@

                    <div class="nav-item dropdown" id="logged-in-menu">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            MINA SIDOR
                        </a>
                        <ul class="dropdown-menu dropdown-profile">
                            <h6 class="dropdown-header">PROFIL</h6>
                            <div class="dropdown-divider bg-light"></div>
                            <li class="dropdown-city"><a class="dropdown-item" a href="https://informatik7.ei.hv.se/ProfilMVC">PROFIL</a></li>
                            <li class="dropdown-city"><a class="dropdown-item" asp-action="MyProfile" asp-controller="Home">LOGGA UT</a></li>
                            @*ta bort kakan som innehåller inloggningsinformation*@
                        </ul>
                    </div>

                </div>

                <div class="nav-item dropdown">
                    <div class="vr text-light" style="width: 3px;"></div>
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        VÄLJ STAD
                    </a>
                    <ul class="dropdown-menu dropdown-cities">
                        <h6 class="dropdown-header">TILLGÄNGLIGA<br />STÄDER</h6>
                        <div class="dropdown-divider bg-light"></div>
                        <li class="dropdown-city"><a class="dropdown-item" asp-action="Home" asp-controller="Trollhattan">Trollhättan</a></li>
                        <li class="dropdown-city"><a class="dropdown-item" asp-action="Home" asp-controller="Vastervik">Västervik</a></li>
                    </ul>
                </div>

            </div>

        </nav>

    </header>

    <div class="content">
        @RenderBody()
    </div>

    <footer class="footer d-flex justify-content-between align-items-center py-3 my-4">

        <div class="footer-wrapper">
            <div class="footer-icons d-flex flex-column align-items-start">
                <a href="https://instagram.com" class="mb-2"><img class="logo-footer" src="~/images/logo-instagram.png" /><p class="footer-icon-text">Eventivo</p></a>
                <a href="https://twitter.com" class="mb-2"><img class="logo-footer" src="~/images/logo-twitter.png" /><p class="footer-icon-text">Eventivo</p></a>
                <a href="https://facebook.com" class="mb-2"><img class="logo-footer" src="~/images/logo-facebook.png" /><p class="footer-icon-text">Eventivo</p></a>
            </div>
        </div>

        <div class="footer-nav">
            <ul class="nav justify-content-center">
                <li class="nav-item-footer"><a class="nav-link-footer" asp-action="About" asp-controller="Home">OM OSS</a></li>
                <li class="nav-item-footer"><a class="nav-link-footer" asp-action="Contact" asp-controller="Home">KONTAKT</a></li>
                <li class="nav-item-footer"><a class="nav-link-footer" asp-action="Privacy" asp-controller="Home">SEKRETESS</a></li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <script>
        function changeFontAndText(element) {
            var navLinks = document.querySelectorAll('.nav-link');
            navLinks.forEach(function (navLink) {
                navLink.style.fontWeight = 'normal';
            });

            element.style.fontWeight = 'bold';
        }
    </script>


</body>
</html>
