<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ActivoWebPage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ActivoWebPage.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

</head>
<body>
    <header>
        <nav class="navbar bg-dark border-bottom border-body">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <a class="navbar-brand" href="#">
                    <img src="~/images/logo_eventivo.png" alt="Logo" width="65" height="70" class="d-inline-block align-text-top">
                </a>
                <div class="d-flex">
                    <a class="nav-link" href="#">KULTUR & NÖJE</a>
                    <a class="nav-link" href="#">SPORT & FRILUFTSLIV</a>
                    <a class="nav-link" href="#">SÖK EVENT</a>
                    <a class="nav-link" href="#">LOGGA IN</a>
                </div>
                <div class="d-flex">
                    <a class="nav-link" asp-action="Trollhattan" asp-controller="Cities"> Trollhättan</a>
                    <span class="navbar-text">&#47;</span>
                    <a class="nav-link" asp-action="Vastervik" asp-controller="Cities"> Västervik</a>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
     <footer class="footer d-flex justify-content-between align-items-center py-3 my-4">
     <div class="footer-icons d-flex flex-column align-items-start">
         <a href="https://instagram.com" class="mb-2"><i class="fab fa-instagram fa-lg"></i>Eventivo</a>
         <a href="https://twitter.com" class="mb-2"><i class="fab fa-twitter fa-lg"></i>Eventivo</a>
         <a href="https://facebook.com" class="mb-2"><i class="fab fa-facebook-f fa-lg"></i>Eventivo</a>
     </div>
     <div class="footer-nav">
         <ul class="nav justify-content-center">
             <li class="nav-item"><a href="#" class="nav-link">OM OSS</a></li>
             <li class="nav-item"><a href="#" class="nav-link">KONTAKT</a></li>
             <li class="nav-item"><a href="#" class="nav-link">SEKRETESS</a></li>
         </ul>
     </div>
 </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
